<html>
<head>
    <title>Madup Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}"/>
</head>
<body>
<div class="table-title">
    <h3>매드업 구성원</h3>
</div>
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">이름</th>
            <th class="text-left">연락처</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td class="text-left"><img src="{{ user.avatar_url }}"/> {{ user.name }}</td>
            <td class="text-left">{{ user.phone }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>